@model ResultViewModel<Application.Lessons.Dtos.LessonDto>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lesson</h4>
<hr />
@Html.RenderPartialAsync("_StatusMessage", Model)
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=" Data.StudentId" class="control-label"></label>
                <select asp-for="Data.StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data.TrainerId" class="control-label"></label>
                <select asp-for="Data.TrainerId" class="form-control" asp-items="ViewBag.TrainerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data.DateTime.ToShortDateString()" class="control-label"></label>
                <input asp-for="Data.DateTime.ToShortDateString()" class="form-control" />
                <span asp-validation-for="Data.DateTime.ToShortDateString()" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Hour" class="control-label"></label>
                <select asp-for="Data.Hour" class="form-control" asp-items="ViewBag.Hours"></select>
                <span asp-validation-for="Data.Hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Minutes" class="control-label"></label>
                <select asp-for="Data.Minutes" class="form-control" asp-items="ViewBag.Minutes"></select>
                <span asp-validation-for="Data.Minutes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Data.IsCompleted" /> @Html.DisplayNameFor(model => model.Data.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
